<!Doctype html>
<html lang="en" dir="ltr">
   <head>
       <meta charset="utf-8">
       <title> breast cancer Predictor </title>
       <link  rel="shortcut icon" href="{{ url_for('static',filename='images.png')}}">
       <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
       <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"


   </head>
   <body>
   <!-- Website Title -->
   <div class="container">
       <h2 class='container-heading' ><span class="heading_font">breast cancer Predictor</span></h2>
       <div class='description'>
           <p> breast cancer web app.</p>
       </div>
   </div>
   <!-- Text Area -->
   <div class="ml-container">
       <form action="{{ url_for('predict') }}" method="POST" >
       <input class="form-input" type="text" name="mean_radius" placeholder=" mean_radius eg :20.57"  required="required"><br>
       <input class="form-input" type="text" name="mean_texture" placeholder="mean_texture eg:10.22"  required="required"><br>
       <input class="form-input" type="text" name="mean_perimeter" placeholder="mean_perimeter:122.8"  required="required"><br>
       <input class="form-input" type="text" name="mean_area" placeholder="mean_area eg:1001"  required="required"><br>
       <input class="form-input" type="text" name="mean_smoothness" placeholder="mean_smoothness eg:0.1114"  required="required"><br>


             <input type="submit" class="my-cta-button" value="Predict">
       </form>
   </div>
   <!-- Footer -->
   <div class="footer">
       <div class="contact">
           <a target="_blank" href="https://www.facebook.com/karim.quichotte/"><i class="fab fa-facebook fa-lg contact-icon"></i></a>
           <a target="_blank" href="https://www.linkedin.com/in/karim-akarkab-96347aba/?originalSubdomain=ma"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
       </div>
           <p class='footer-description'>Made with ❤️by akarkab karim.</p>
   </div>



</body>
</html>